<div class="flex justify-center space-x-4 p-4">
  <button
    (click)="decrement()"
    class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
  >
    Decrement
  </button>
  <button
    (click)="increment()"
    class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-700"
  >
    Increment
  </button>
</div>
<div class="flex justify-center items-center gap-2">
  <button
    (click)="reset()"
    class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700"
  >
    Reset
  </button>
  <button
    (click)="undo()"
    class="bg-yellow-500 text-white font-bold py-2 px-4 rounded hover:bg-yellow-700"
  >
    Undo
  </button>
</div>

<form [formGroup]="counterForm">
  <div class="flex justify-center bg-slate-200 mt-1">
    <div class="flex items-center space-x-4 p-4">
      <button
        type="button"
        class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
        (click)="onDecrement()"
      >
        Decrement By
      </button>
      <input
        type="number"
        formControlName="decrementValue"
        [placeholder]="getDecrementErrorMessage()"
        class="border border-gray-300 rounded py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  </div>
</form>

<form [formGroup]="counterForm">
  <div class="flex justify-center bg-slate-200 mt-1">
    <div class="flex items-center space-x-4 p-4">
      <button
        type="button"
        class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
        (click)="onIncrement()"
      >
        Increment By
      </button>
      <input
        type="number"
        formControlName="incrementValue"
        [placeholder]="getIncrementErrorMessage()"
        class="border border-gray-300 rounded py-2 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>
  </div>
</form>
